
@font-face {
  font-family: 'CareBearFamily';
  src: url('CareBearFamily.eot?#iefix') format('embedded-opentype'),  url('CareBearFamily.woff') format('woff'), url('CareBearFamily.ttf')  format('truetype'), url('CareBearFamily.svg#CareBearFamily') format('svg');
  font-weight: normal;
  font-style: normal;
}
